
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Header Start -->
	<div id="header">
        <div class="container">
            <!-- Header Content Start -->
            <div class="header_content">
            	<h1> Rethink Customer Support. ThinkRTC.</h1>
                <form action="#">
                    <input type="text" name="Email" id="d3_email" placeholder="Your Site URL" onfocus="if(this.value=='E-mail Address') this.value='';" />
                    <button type="submit" class="btn get_started_btn"> Get Started</button></button>
                </form>
            </div>
            <!-- Header Content End -->
        </div>
    </div>
    <!-- Header End -->

    <!-- Content Start -->
	<div class="content_wrapper">
        <div id="features_detail" class="even_div">
        	<div id="main">
                <div id="main-content">
                    <div class="main workflow">
                        <div class="content">
                                <div class="icon">
                                    <h2>30 second Integration</h2>
                                    <p>Have the highest standard of customer support in under 30 seconds</p>
                                </div>
                                <ul id="flow-switcher" style="margin-left: 300px;">
                                    <li class="active"><span>Copy<br /></span></li>
                                    <li><span>Paste<br /></span></li>
                                    <li><span>Done</span></li>
                                    <!--<li><span>Add extra<br />seats</span></li>-->
                                    <!--<li><span>Renew a subscription</span></li>-->
                                </ul>
                            </div>

                        <div id="flow-boxes">
                            <div class="boxes active">
                                <div class="codebox-container active">
                                    <div class="codebox active">
                                        <pre>
                                            <span class="hljs-keyword">curl</span> <span class="url">https://api.pixxett.com/v1/pricing_plans</span> <span>\</span>
                                            <span>-u</span> <span class="hljs-string">px_HFresv23sdfrtkHDTYKC4567:</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">amount</span><span>=</span><span class="hljs-number">1500</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">interval</span><span>=</span><span class="hljs-string">month</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">id</span><span>=</span><span class="hljs-string">professional</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">currency</span><span>=</span><span class="hljs-string">usd</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">name</span><span>=</span><span class="hljs-string">"professional"</span>
                                        </pre>
                                    </div>

                                    <div class="codebox hiddenRight">
                                        <pre>
                                            <span class="hljs-keyword">curl</span> <span class="url">https://api.pixxett.com/v1/customers</span> <span>\</span>
                                            <span>-u</span> <span class="hljs-string">px_HFresv23sdfrtkHDTYKC4567:</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-string">"description=Customer for demo@yoursite.com"</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">card</span><span>=</span><span class="hljs-string">pixx_IrrKegI23sasdfdfYBHdfryKLK5</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">plan</span><span>=</span><span class="hljs-string">premium</span>
                                        </pre>
                                    </div>

                                    <div class="codebox hiddenRight">
                                        <pre>
                                            <span class="hljs-keyword">curl</span> <span class="url">https://api.pixxett.com/v1/subscriptions/PciTPzBUi4545jX</span> <span>\</span>
                                            <span>-u</span> <span class="hljs-string">px_jnsdiGNCDssk;l6787kmklgf:</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">plan</span><span>=</span><span class="hljs-string">premium</span>
                                        </pre>
                                    </div>

                                    <div class="codebox hiddenRight">
                                        <pre>
                                            <span class="hljs-keyword">curl</span> <span class="url">https://api.pixxett.com/v1/subscriptions/sdfsdfmfbITPzBUijjX</span> <span>\</span>
                                            <span>-u</span> <span class="hljs-string">px_jnsdiGNCDssk;l6787kmklgf:</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">plan</span><span>=</span><span class="hljs-string">premium</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">quantity</span><span>=</span><span class="hljs-number">20</span>
                                        </pre>
                                    </div>
                                </div>

                                <div class="text-container">
                                    <div class="text three-lines active">
                                        <h3>Sign up</h3>
                                        <p>Signing up takes less than 10 seconds. Just give us your website URL, email, and a password.</p>
                                    </div>
                                    <div class="text four-lines hiddenRight">
                                        <h3>Copy & paste your site code into the < head > of your HTML.</h3>
                                        <p>
                                            Paste the script code into the < head > of your html file (usually index.html). <br><br>If you need help with this, book an appointment! <3
                                        </p>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="end" id="automatic-renewals">
                                <div class="text three-lines">
                                    <h3>You're Done!</h3>
                                    <p>That's it! You're good to go! Go to your website and log into the widget and watch your customers realize how much you truly care!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<hr>
        <!-- Feature Start -->
        <div id="features">
        	<!-- Article1 Start -->
            <div id="easysetup">
                <div class="col-md-6 col-sm-12 col-xs-12 half_img_box">
                    <img class="img-responsive" alt="Easy Setup" src="https://www.invisionapp.com/assets/img/home/animations/new/mockup-1.png" />
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 half_txt_box">
                    <h3>Think, Real Time Communication</h3>
                    <p>We take the pain out of client on-boarding, proposal generation, engagement letters, workflow deployment, recurring invoices and client collaboration.</p>
                    <p>Practice Ignition works best with your existing systems such as Xero and Xero Practice Manager but we don't require them.</p>
                    <p>Increase your conversion rates by connecting Practice Ignition to your website. Perfect for on-boarding new clients into fixed fee plans, your website will become the ultimate sales machine.</p>
                </div>
            </div>
            <!-- Article1 End -->
<hr>
            <!-- Article2 Start -->
            <div id="intelligent">
            	<div class="desk_view">
                    <div class="col-md-6 col-sm-12 col-xs-12 half_txt_box1">
                        <h3>Instant Screen Sharing & Videochat</h3>
                        <p>Services form the core of our proposal engine. Services outline the work you're proposing to do for a client, the price and billing details – all of which can be tailored for each client.</p>
                        <p>Workflow templates can be assigned to services meaning the correct jobs are automatically deployed to your practice management system when a client accepts an online proposal.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 half_img_box">
                        <img class="img-responsive" alt="Intelligent proposals" src="https://www.invisionapp.com/assets/img/home/animations/new/mockup-2.png" />
                    </div>
                </div>
            </div>
            <!-- Article2 End -->
<hr>
            <!-- Article3 Start -->
            <div id="engage">
                <div class="col-md-6 col-sm-12 col-xs-12 half_img_box">
                    <img class="img-responsive" alt="Engage &amp; re-engage" src="https://www.invisionapp.com/assets/img/home/animations/new/mockup-4.png" />
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 half_txt_box1">
                    <h3>Assign & Respond Anywhere</h3>
                    <p>Practice Ignition is perfect for fixed fee or value based billing or practices that have clients on a retainer.</p>
                    <p>Build proposals with a simple drag and drop. Automatically generate professional engagement letters and notify clients via branded online acceptance pages.</p>
                </div>
            </div>
            <!-- Article3 End -->
        </div>
        <!-- Feature End -->

      

       
<hr>
        <!-- Pricing Start -->
        <div id="pricing" class="even_div">
        	<div class="container">
            	<h2>Select your Plan</h2>
                <!-- Package Wrapp Start -->
                <div class="package_wrapp">
                    <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn animated">
                        <div class="single_package">
                            <h4>$9<span>/Month</span></h4>
                            <div class="package_headwrap">
                                <h3>Basic</h3>
                            </div>
                            <div class="package_dis">
                                <ul class="package_list">
                                    <li>
                                    	We've used an awesome font library which boasts a whopping 750+ icons.
                                    </li>
                                    <li>
                                        All about the small details here &amp; aim to be pixel perfect in every way.
                                    </li>
                                    <li>
                                        To be the best, Stay ahead of the game with an awesome design.
                                    </li>
                                </ul>
                                <a href="#" class="btn btn_price">Buy it now</a>
                            </div>
                        </div>
                	</div>
                     <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn animated">
                        <div class="single_package active">
                            <h4>$49<span>/Month</span></h4>
                            <div class="package_headwrap">
                                <h3>Premium</h3>
                            </div>
                            <div class="package_dis">
                                <ul class="package_list">
                                    <li>
                                        We've used an awesome font library which boasts a whopping 750+ icons.
                                    </li>
                                    <li>
                                        All about the small details here &amp; aim to be pixel perfect in every way.
                                    </li>
                                    <li>
                                        To be the best, Stay ahead of the game with an awesome design.
                                    </li>
                                    <li>
                                        Designed in the almighty bootstrap grid for ease of use
                                    </li>
                                    <li>
                                        Fully layered and labeled PSD's for easy customisation.
                                    </li>
                                </ul>
                                <a href="#" class="btn btn_price">Buy it now</a>
                            </div>
                        </div>
                   	</div>
                    <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn animated">
                        <div class="single_package">
                            <h4>$199<span>/Month</span></h4>
                            <div class="package_headwrap">
                                <h3>Professional</h3>
                            </div>
                            <div class="package_dis">
                                <ul class="package_list">
                                    <li>
                                        We've used an awesome font library which boasts a whopping 750+ icons.
                                    </li>
                                    <li>
                                        All about the small details here &amp; aim to be pixel perfect in every way.
                                    </li>
                                    <li>
                                        To be the best, Stay ahead of the game with an awesome design.
                                    </li>
                                    <li>
                                        Designed in the almighty bootstrap grid for ease of use
                                    </li>
                                </ul>
                                <a href="#" class="btn btn_price">Buy it now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Package Wrapp End -->
            </div>
        </div>
        <!-- Pricing End -->

      

        
        <!-- Footer Start -->
        <div id="footer">
        	<div class="container">
            	<div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 coppyright"> &copy; 2016. All Rights Reserved. Designed by <a href="http://www.pixxett.com/" target="_blank">Pixxett.com</a> </div>
                <div class="social col-lg-6 col-md-6 col-sm-4 col-xs-4">
                    <ul class="social_links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->

	<script type="text/javascript">
        startFlowSwitcher();
    </script>